body{
    background-color: #737373;
    margin: 0;
}

h1{
    color: #F2F2F2;
}

p{
    font-size: 1.9rem;
    color: #F2F2F2;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.Background{
    
    position: absolute;
    color:#F2F2F2;
    margin-top: -500px;
    width: 20%;
    z-index: -1;
    font-size:9000%;
    /* padding: 0 20% 0; */
    
    font-family: "Permanent Marker";
    opacity: 10%;
    
}

.ski-bg{
    position: absolute;
    z-index: -2;
    margin-top: 50px;
    width: 100%;
}

#title .container-fluid{
    padding: 0;
    text-align: left;
}

.navbar-brand{
    position: fixed;
    /*
    font-family: "Russo One";
    font-family: "Rock Salt";
    font-family: "Righteous";
    */
    font-family: "Permanent Marker";
    /*
    font-family: "Michroma";
    font-family: "Candal";
    */
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0 30px;
    color: #F2F2F2;
  }

.navbar{
    padding:0 0 0;
    background-color: black;
}

.nav-item{
    padding: 0 15px 0;
}

#top .nav-link{
    font-family: "Righteous";
    text-align: center;
    color: #A6A6A6;
    
}

#top{
    padding: 10px 0;
}

.navbar-toggler{
    background-color:#F2F2F2;
    padding-left:10px;
    padding-right:10px;
    margin-right: 10px;
}

/* SKI SECTION */

.shadows{
    box-shadow: 30px 100px 40px rgba(163,191,217, 0.4);
    
    /* background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.4); */
    background-color: rgba(115,115,115, 0.4);
}

.ski-section{
    text-align: center;
}

.ski-title{
    margin: 30px 0 30px;
}

.ski-div1{
    /* margin: 50px auto 100px auto; */
    
    /* width: 50%; */
}

.ski-div2{
    margin: 200px auto 100px auto;
}

.ski-text1{
    margin-right: 3%;
    float: left;
    position: relative;
    top: 30%;
    margin: 0 0 90px 0;

    /* text-align: left; */
}

.ski-text2{
    margin-left: 3%;
    float: left;
    position: relative;
    top: 30%;
}

.placing-snow-img{
    margin-left: 3%;
    width: 100%;
    position: relative;
}

.happy-competing-foto{
    width: 100%;
    position: relative;
    right: 3%;

}

.ski-video1{
    width: 100%;
}

.carousel-item{
    padding: 7% 15%;
}

